 .Side__bar-overal{
position:fixed;
height:100vh;
width:20%;
background: rgb(045, 157, 123,0.10);
margin-top:1rem;
border-radius:10px;
 box-shadow:1px 2px 2px 1px  var(--code2);


 h1{
    padding-top:3rem;
    padding-left:1rem;
    font-size:2rem;
 }
 .Side__first{
    list-style:none;
    li{
        padding:0.4rem;
        
        a{
            text-decoration:none;
            color:var(--code2);
            font-size:1.3rem;
          display:block;

            &:hover{
                cursor:pointer;
            }
           
;        }
    }
 }
 }